/*
 * style.css - Main style sheet for rclock. Pulls in necessary css files to
 * composite the final CSS
 */

@import url("normalize.css");
@import url("grids-min.css");
@import url("rclock-skin.css");

/*
 * rclock style customization here.
 */

body {
	font-family: Happy Monkey, sans;
}

header {
	text-align: center;
	font-size: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}

footer {
	font-size: 0.55em;
	padding-top: 0.5em;
	padding-left: 2em;
}

#weather {
	font-size: 1em;
	padding-top: 1em;
	padding-left: 0.25em;
	padding-bottom: 0.5em;
	text-overflow: ellipsis;
}

#weather li {
	list-style: none;
}

#clock {
	text-align: center;
	color: #990000;
	background-color: #FFFFFF;
	font-size: 4em;
	padding: 0.25em;
	border: 1px solid #FFCC00;
	border-radius: 12%;
}

#alarms {
	font-size: 1em;
	padding-top: 1em;
	padding-left: 0.25em;
	padding-bottom: 0.5em;
}

