/*
 * style.css - Main style sheet for rclock. Pulls in necessary css files to
 * composite the final CSS
 */

@import url("normalize.css");
@import url("grids-min.css");
@import url("rclock-skin.css");

/*
 * rclock style customization here.
 */

header {
	text-align: center;
	font-size: 1em;
	padding-bottom: 0.5em;
	padding-left: 1em;
}

footer {
	font-size: 0.55em;
	padding-top: 0.5em;
	padding-left: 2em;
}

#weather {
	font-size: 1em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#clock {
	font-size: 4em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

#alarms {
	font-size: 1em;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

